@font-face {
  font-family: "National 2 Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/national-2-condensed-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/RobotoSerif-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/RobotoSerif-SemiBold.woff2") format("woff2");
}
