@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1290px;
  margin: 0 auto;

  @include respond(mobile) {
    max-width: 350px;
  }
}

.button-font {
  color: $Text-Primary;
  font-family: "Roboto Serif";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;

  @include respond(mobile) {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

.button-small-font {
  color: $Text-Primary;
  font-family: "Roboto Serif";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
}

.button-small-font {
  color: var(--Text-Primary);
  font-family: "Roboto Serif";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
}

.header-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include respond(mobile) {
    display: contents;
  }
}
