@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1290px;
  margin: 0 auto;

  @include respond(mobile) {
    max-width: 350px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.button-font {
  color: $Text-Primary;
  font-family: "Roboto Serif";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;

  @include respond(mobile) {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

.header-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include respond(mobile) {
    display: contents;
  }
}

.right-btn {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Primary);
  background-color: transparent;
  transition: all 0.2s ease;
  font-weight: 600;
  &:hover {
    background-color: var(--Primary);
    color: var(--Text-Light);
    cursor: pointer;

    img {
      filter: brightness(0) invert(1);
      transition: all 0.2s ease;
    }
  }

  img {
    width: 20px;
    height: 20px;
  }
}
