@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  @include respond(mobile) {
    max-width: 350px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include respond(mobile) {
    gap: 40px;
  }
}

.button-font {
  color: $Text-Primary;
  font-family: "Roboto Serif";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;

  @include respond(mobile) {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

.button-small-font {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
  color: $Text-Primary;
}

.header-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include respond(mobile) {
    display: contents;
  }
}

.right-btn {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid $Primary;
  background-color: transparent;
  transition: all 0.2s ease;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    background-color: $Primary;
    color: $Text-Light;
    cursor: pointer;

    img {
      filter: brightness(0) invert(1);
      transition: all 0.2s ease;
    }
  }

  img {
    width: 20px;
    height: 20px;
  }

  @include respond(mobile) {
    margin-top: 60px;
    order: 3;
  }
}

.card-btn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background-color: $Primary;
  border: none;
  color: $Text-Light;
  transition: all 0.3s ease;
  text-decoration: none;
  &:hover {
    background-color: #1a35c4;
    cursor: pointer;
  }

  img {
    width: 16px;
    height: 16px;
  }
}
