@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $Body-Font;
  color: $Text-Secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 108px;
  &.overflow-hidden {
    overflow: hidden;
  }

  @include respond(mobile) {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $Heading-Font;
}

.heading-1 {
  color: $Text-Light;
  font-size: 68px;
  font-weight: 700;
  line-height: 76px;
  text-transform: capitalize;

  @include respond(mobile) {
    font-size: 40px;
    line-height: 48px;
  }
}

.heading-2 {
  color: $Text-Primary;
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  text-transform: capitalize;

  @include respond(mobile) {
    font-size: 32px;
    line-height: 40px;
  }
}

.heading-3 {
  color: $Text-Primary;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;

  @include respond(mobile) {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    width: 100%;
  }
}

.heading-4 {
  color: $Text-Light;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;

  @include respond(mobile) {
    font-size: 20px;
    line-height: 28px;
  }
}

.heading-5 {
  color: $Text-Primary;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;

  @include respond(mobile) {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}

.heading-6 {
  color: $Text-Light;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: capitalize;
}

.body-2 {
  color: $Text-Secondary;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  @include respond(mobile) {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
}

.caption-1 {
  color: $Text-Secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @include respond(mobile) {
    font-size: 12px;
    line-height: 20px;
  }
}
