@use "sass:map";
@use "breakpoints" as *;

// Media query mixin
@mixin respond($device) {
  @if map.has-key($breakpoints, $device) {
    @media (max-width: map.get($breakpoints, $device)) {
      @content;
    }
  }
}
