@use "sass:map";
@use "breakpoints" as *;

// Flexbox mixin
@mixin flex(
  $justify: flex-start,
  $align: stretch,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

// Media query mixin
@mixin respond($device) {
  @if map.has-key($breakpoints, $device) {
    @media (max-width: map.get($breakpoints, $device)) {
      @content;
    }
  }
}
