// Background colors
$Background-Dark: #1c1c1c;
$BG-Blur: rgba(255, 255, 255, 0.1);

// Text colors
$Primary: #2447f5;
$Text-Primary: #140f50;
$Text-Light: #fff;
$Text-Secondary: #4c4c4c;
$Light-Grey: #f3f3f6;
$Text-Muted: #9fa1a4;

// Line
$Line: #e7e7e7;

// Font Families
$Heading-Font: "National 2 Condensed", sans-serif;
$Body-Font: "Roboto Serif", sans-serif;
