@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.right-btn {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid $Primary;
  background-color: transparent;
  transition: all 0.2s ease;
  font-weight: 600;

  @include respond(mobile) {
    order: 3;
    width: 100%;
  }

  &:hover {
    background-color: $Primary;
    color: $Text-Light;
    cursor: pointer;

    img {
      filter: brightness(0) invert(1);
      transition: all 0.2s ease;
    }
  }

  img {
    width: 20px;
    height: 20px;
  }
}
