@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/*-------- FOOTER --------*/
.footer-main {
  width: 100%;
  background: $Text-Primary;

  .footer-inner {
    display: flex;
    padding: 80px 0 60px;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(mobile) {
      padding: 32px 0 20px 0;
      flex-direction: column;
      gap: 20px;
      align-self: stretch;
    }
  }

  /*-------- FOOTER LEFT --------*/
  .footer-left {
    display: flex;
    width: 270px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @include respond(mobile) {
      align-items: center;
      align-self: stretch;
      width: 100%;
    }

    .logo-footer {
      max-width: 100%;
      height: auto;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include respond(mobile) {
        align-items: center;
      }

      h6 {
        color: $Text-Light;
        text-align: start;
      }

      p {
        color: $Line;

        @include respond(mobile) {
          font-size: 14px;
          line-height: 22px;
          text-align: center;
        }
      }
    }
  }

  /*-------- FOOTER RIGHT --------*/
  .footer-right {
    display: flex;
    width: 914px;
    flex-direction: column;
    gap: 32px;

    @include respond(mobile) {
      gap: 20px;
      width: 355px;
    }

    .top {
      display: flex;
      padding: 40px 32px;
      justify-content: space-between;
      align-items: center;
      border-radius: 16px;
      background: $BG-Blur;

      @include respond(mobile) {
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .connect {
        display: flex;
        width: 407px;
        flex-direction: column;
        gap: 8px;

        @include respond(mobile) {
          align-items: center;
          gap: 4px;
          align-self: stretch;
          width: 100%;
        }

        p {
          color: $Text-Muted;

          @include respond(mobile) {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }

      .subscribe-btn {
        display: flex;
        width: 400px;
        padding: 4px 4px 4px 20px;
        justify-content: space-between;
        align-items: center;
        border-radius: 128px;
        border: 1px solid $BG-Blur;
        background: $BG-Blur;

        @include respond(mobile) {
          align-self: stretch;
          width: 100%;
        }

        .email-input {
          width: 320px;
          border: none;
          background: transparent;
          outline: none;
          color: $Text-Light;
          font-family: "Roboto Serif";
          font-size: 14px;
          line-height: 22px;

          &::placeholder {
            color: $Text-Light;
          }
        }

        .submit-btn {
          display: flex;
          width: 48px;
          padding: 12px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: $Text-Light;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease;

          @include respond(mobile) {
            width: 40px;
            height: 40px;
            gap: 20px;
            aspect-ratio: 1/1;
            border-radius: 108px;
          }

          img {
            width: 24px;
            height: 24px;
          }

          &:hover {
            background-color: $Primary;

            img {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }

    /* MENU */
    .bottom {
      ul {
        display: flex;
        gap: 60px;
        list-style: none;

        @include respond(mobile) {
          justify-content: center;
          align-items: center;
          gap: 20px;
          align-self: stretch;
          font-size: 14px;
          line-height: 22px;
        }

        li {
          a {
            color: $Line;
            text-decoration: none;

            &:hover {
              color: $Text-Light;
              border-bottom: 1px solid $Text-Light;
            }
          }
        }
      }
    }
  }

  /*-------- COPYRIGHT --------*/
  .copy-right {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $BG-Blur;

    @include respond(mobile) {
      flex-direction: column;
      gap: 4px;
    }

    p {
      color: $Line;
    }

    ul {
      display: flex;
      gap: 16px;
      list-style: none;

      li {
        a {
          color: $Line;
          text-decoration: none;

          &:hover {
            color: $Text-Light;
            border-bottom: 1px solid $Text-Light;
          }
        }

        &:after {
          content: "|";
          margin-left: 16px;

          @include respond(mobile) {
            margin-left: 8px;
          }
        }

        &:last-child:after {
          content: "";
        }
      }
    }
  }
}
