@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
  width: 100%;
  background: $Text-Primary;
  margin-top: 300px;

  .content {
    display: flex;
    padding: 80px 0 60px 0;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    @include respond(mobile) {
      padding: 32px 0 20px 0;
      flex-direction: column;
      gap: 20px;
    }

    .content-left {
      display: flex;
      width: 270px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      @include respond(mobile) {
        align-items: center;
        align-self: stretch;
        width: 350px;
      }

      .footer-logo {
        cursor: pointer;
        width: 47px;
        height: 68px;
        aspect-ratio: 47/68;
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        @include respond(mobile) {
          align-items: center;
        }

        p {
          color: $Line;
        }
      }
    }

    .content-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      .top {
        display: flex;
        padding: 40px 32px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-radius: 16px;
        background: $BG-Blur;

        @include respond(mobile) {
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          width: 350px;
        }

        .info {
          display: flex;
          width: 407px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;

          @include respond(mobile) {
            align-items: center;
            gap: 4px;
            align-self: stretch;
            width: 100%;
          }

          p {
            color: $Text-Muted;
            font-size: 12px;
          }
        }

        form {
          display: flex;
          width: 400px;
          padding: 4px 4px 4px 20px;
          justify-content: space-between;
          align-items: center;
          border-radius: 128px;
          border: 1px solid $BG-Blur;
          background: $BG-Blur;

          @include respond(mobile) {
            align-self: stretch;
            width: 100%;
          }

          input {
            border: none;
            outline: none;
            background-color: transparent;
            flex: 1;
            color: $Text-Light;
            &::placeholder {
              color: $Text-Light;
              font-family: "Roboto Serif";
              font-size: 14px;
              font-weight: 400;
            }
          }

          .btn-subscribe {
            display: flex;
            width: 48px;
            padding: 12px 20px;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-shrink: 0;
            border-radius: 108px;
            background: $Text-Light;
            cursor: pointer;
            margin-left: 30px;
            border: none;
            transition: 0.3s ease;
            &:hover {
              background: $Primary;
              img {
                filter: brightness(0) invert(1);
              }
            }
          }
        }
      }

      .footer-navigation ul {
        display: flex;
        align-items: flex-start;
        gap: 60px;
        list-style: none;

        @include respond(mobile) {
          justify-content: center;
          align-items: center;
          gap: 20px;
          align-self: stretch;
        }

        li a {
          text-decoration: none;
          color: $Line;
          padding-bottom: 2px;
          &:hover {
            border-bottom: 2px solid $Line;
          }
        }
      }
    }
  }

  .copy-right {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid $BG-Blur;

    @include respond(mobile) {
      flex-direction: column;
      gap: 4px;
    }

    .left p {
      color: $Line;
    }

    .footer-links {
      display: flex;
      align-items: flex-start;
      list-style: none;
      margin-bottom: 2px;

      li {
        &::after {
          content: "|";
          margin: 0 19px;

          @include respond(mobile) {
            margin: 0 13px;
          }
        }
        &:last-child::after {
          content: "";
          margin: 0;
        }

        a {
          text-decoration: none;
          color: $Line;
          &:hover {
            border-bottom: 2px solid $Line;
          }
        }
      }
    }
  }
}
