@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  background: $Text-Light;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 32px;

  @include respond(mobile) {
    position: static;
    margin-top: 0;
  }

  .header-inside {
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;

    @include respond(mobile) {
      padding: 12px 0px;
    }

    // LOGO
    .header-logo img {
      width: 47px;
      height: 68px;
      aspect-ratio: 47/68;

      @include respond(mobile) {
        width: 28px;
        height: 40px;
        aspect-ratio: 7/10;
      }
    }

    // NAVIGATION MENU
    .header-navigation ul {
      display: flex;
      align-items: center;
      gap: 40px;
      list-style: none;

      @include respond(mobile) {
        display: none;
      }

      li a {
        text-decoration: none;
        font-weight: 600;
        color: $Text-Primary;
        padding-bottom: 5px;
        &:hover {
          color: $Primary;
          border-bottom: 2px solid $Primary;
        }
      }
    }

    // SEARCH CONTAINER
    .search-container {
      position: relative;

      @include respond(mobile) {
        display: none;
      }

      .search-icon {
        cursor: pointer;
      }

      .toggleSearchBox {
        display: none;
        position: absolute;
        top: 120%;
        right: 0;
        width: 300px;
        padding: 16px;
        border-radius: 12px;
        background-color: $Text-Light;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        z-index: 10;

        &.open {
          display: block;
          animation: slideDown 0.3s ease forwards;
        }

        @keyframes slideDown {
          0% {
            opacity: 0;
            transform: translateY(-10px) scale(0.95);
          }
          100% {
            opacity: 1;
            transform: translateY(0) scale(1);
          }
        }

        .search-box {
          width: 100%;
          padding: 8px 16px;
          border-radius: 80px;
          border: 1px solid $Line;
          background: $Light-Grey;
          outline: none;
          font-family: "Roboto Serif", serif;
          font-size: 14px;
          font-weight: 400;
          transition: border 0.2s;
          &::placeholder {
            font-family: "Roboto Serif", serif;
            font-size: 14px;
            font-weight: 400;
            color: #aaa;
          }
          &:focus {
            border: 1.5px solid $Primary;
            background: $Text-Light;
          }
        }
      }
    }

    // MOBILE MENU CONTAINER
    .menu-icon {
      display: none;

      @include respond(mobile) {
        display: block;
      }
    }
  }
}

// MENU OVERLAY
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.open {
    display: block;
    opacity: 1;
  }
}

// MOBILE MENU
.toggleMenuMobile {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 280px;
  height: 100vh;
  background: $Text-Light;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  z-index: 21;
  transition: 0.3s ease;
  overflow-y: auto; // Enable vertical scrolling if content overflows

  @include respond(mobile) {
    display: block;
  }

  &.open {
    right: 0;
  }

  ul {
    list-style: none;
    padding: 80px 20px 20px;

    li {
      margin-bottom: 20px;

      a {
        display: block;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        color: $Text-Primary;
        padding: 12px 16px;
        border-radius: 8px;
        transition: all 0.2s;

        &:active {
          color: $Primary;
          background: rgba($Primary, 0.1);
        }
      }
    }
  }
}
