@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-container {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include respond(mobile) {
    gap: 40px;
  }

  // HERO
  #hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
      height: 100%;

      .hero-content {
        display: flex;
        max-width: 440px;
        min-height: 50vh;
        padding: 100px 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;

        @include respond(mobile) {
          max-width: 550px;
          min-height: 50vh;
          padding: 50px 0px;
          gap: 12px;
        }

        .hero-btn {
          padding: 16px 32px;
          border-radius: 12px;
          background: $Text-Light;
          border: none;
          font-weight: 700;
          transition: all 0.3s ease;
          text-decoration: none;

          @include respond(mobile) {
            padding: 12px 16px;
            gap: 12px;
            border-radius: 8px;
          }

          &:hover {
            background-color: $Primary;
            color: $Text-Light;
            cursor: pointer;
          }
        }
      }
    }
  }
  // END HERO

  // FEATURES
  .featured-parks {
    a {
      text-decoration: none;
    }

    .feature-main {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include respond(mobile) {
        gap: 20px;
      }
    }

    .feature-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      @include respond(mobile) {
        align-items: center;
      }
    }

    .feature-cards {
      align-self: stretch;

      @include respond(mobile) {
        .feature-cards {
          order: 2;
        }
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 5px 5px 0 rgba(28, 36, 51, 0.1) !important;
      margin: 15px 15px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      position: relative;

      &:hover {
        box-shadow: 0 10px 25px 0 rgba(54, 95, 104, 0.1) !important;
        cursor: pointer;
        transform: translate(8px, -8px) scale(1.02);
      }

      .card-image {
        height: 307px !important;
        width: 100% !important;

        img {
          width: 100% !important;
          height: 100% !important;
          aspect-ratio: 4 / 3;
          object-fit: cover;
        }
      }

      .card-content {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;

        .card-location {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-bottom: 4px;

          .location-icon {
            width: 16px;
            height: 16px;
            aspect-ratio: 1 / 1;
            fill: $Text-Primary;
          }
        }

        .card-description {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-top: 12px;

          > span {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $Text-Secondary;
            font-size: 14px;
            line-height: 22px;
          }
        }

        .card-divider {
          width: 100%;
          height: 1px;
          background-color: #e0e0e0;
          margin: 20px 0;
        }

        .card-btn {
          display: flex;
          padding: 12px 16px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          border-radius: 8px;
          background: $Primary;
          border: none;
          color: $Text-Light;
          transition: all 0.3s ease;

          &:hover {
            background-color: #1a35c4;
            cursor: pointer;
          }
        }

        .btn-icon {
          width: 16px;
          height: 16px;
        }
      }
    }

    /* Slick spacing fix */
    .slick-list {
      margin: 15px -10px !important;
    }

    /* Slick Carousel Dots */
    .slick-dots {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    .slick-dots li button:before {
      display: none;
    }

    .slick-dots li {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      transition: all 0.2s ease;
    }

    .slick-dots li button {
      width: 1px !important;
      height: 1px !important;
      border: 1px solid $Text-Primary !important;
      border-radius: 6px;
      transition: all 0.2s ease;
    }

    .slick-dots li.slick-active {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border: 1px solid $Text-Primary;
    }

    .slick-dots li.slick-active button {
      background-color: $Text-Primary !important;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 0px !important;

      @include respond(mobile) {
        margin-bottom: 40px !important;
      }
    }
  }
}

/* -------- BENEFIT -------- */
.benefit-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .benefit-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    p {
      text-align: center;
    }
  }

  .benefit-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;

    @include respond(mobile) {
      flex-wrap: wrap;
    }

    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      flex: 1 0 0;

      img {
        width: 60px;
        height: 60px;
        aspect-ratio: 1 / 1;
        object-fit: contain;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;

        p {
          text-align: center;
        }
      }
    }
  }
}

// PARTNER
.partner-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 100px;

  @include respond(mobile) {
    gap: 20px;
  }

  .partners {
    width: 100%;

    .partner-logo {
      width: 204px;
      height: 41px;
      flex-shrink: 0;

      @include respond(mobile) {
        width: 115px;
        height: 28px;
        aspect-ratio: 115/28;
      }
    }
  }
}
