@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// HERO SECTION
.hero-image {
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 440px;
    min-height: 50vh;
    padding: 160px 0px;

    @include respond(mobile) {
      max-width: 259px;
      display: inline-flex;
      gap: 12px;
      padding: 60px 0;
    }

    .hero-btn {
      display: flex;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 12px;
      background: $Text-Light;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: $Primary;
        color: $Text-Light;
      }

      @include respond(mobile) {
        padding: 12px 16px;
        gap: 12px;
        border-radius: 8px;
      }
    }
  }
}
