@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// HERO SECTION
.hero-image {
  width: 100%;
  margin-top: 108px;

  @include respond(mobile) {
    margin-top: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 440px;
    min-height: 30vh;
    padding: 160px 0px;

    @include respond(mobile) {
      max-width: 259px;
      display: inline-flex;
      gap: 12px;
      padding: 60px 0;
    }

    .hero-btn {
      display: flex;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 12px;
      background: $Text-Light;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: $Primary;
        color: $Text-Light;
      }

      @include respond(mobile) {
        padding: 12px 16px;
        gap: 12px;
        border-radius: 8px;
      }
    }
  }
}

// FEATURED PARKS SECTION
.feature-main {
  display: flex;
  flex-direction: column;

  .feature-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .feature-cards {
    align-self: stretch;

    @include respond(mobile) {
      order: 2;
    }

    .card {
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 5px 5px 0 rgba(28, 36, 51, 0.1);
      margin: 40px 15px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      position: relative;
      &:hover {
        box-shadow: 0 10px 25px 0 rgba(54, 95, 104, 0.1);
        cursor: pointer;
        transform: scale(1.02);
      }

      @include respond(mobile) {
        margin: 35px 0;
      }

      &-image {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 4/3;
        }
      }

      &-content {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;

        .card-location {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-bottom: 4px;

          img {
            width: 16px;
            height: 16px;
            aspect-ratio: 1/1;
            fill: $Text-Primary;
          }
        }

        .card-description {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-top: 12px;
          // Text Truncate
          > span {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $Text-Secondary;
            font-size: 14px;
            line-height: 22px;
          }
        }

        .card-divider {
          width: 100%;
          height: 1px;
          background-color: #e0e0e0;
          margin: 20px 0;
        }
      }

      .link {
        position: absolute;
        inset: 0;
        z-index: 10;
      }

      a {
        position: relative;
        z-index: 11;
      }
    }
  }
}

// BENEFIT SECTION
.benefit-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include respond(mobile) {
    gap: 20px;
  }

  .benefit-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    @include respond(mobile) {
      gap: 8px;
    }
  }

  .benefit-list {
    display: flex;
    align-items: center;
    gap: 40px;

    @include respond(mobile) {
      align-items: flex-start;
      gap: 30px 20px;
      flex-wrap: wrap;
    }

    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      @include respond(mobile) {
        width: 160px;
        gap: 12px;
      }

      img {
        width: 60px;
        height: 60px;

        @include respond(mobile) {
          width: 48px;
          height: 48px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;

        p {
          text-align: center;
        }
      }
    }
  }
}

// BRAND
.brand-main {
  width: 100%;
  background: $Light-Grey;
  height: auto;

  .brand-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0px;

    @include respond(mobile) {
      padding: 32px 0px;
      gap: 20px;
    }

    .brands {
      display: flex;
      align-items: center;
      gap: 20px;
      align-self: stretch;
      flex-wrap: wrap;

      @include respond(mobile) {
        max-height: 753px;
        overflow: hidden;
      }

      .brand {
        display: flex;
        width: 242px;
        padding: 12px;
        align-items: center;
        gap: 16px;
        border-radius: 12px;
        background: $Text-Light;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        position: relative;
        &:hover {
          box-shadow: 0 10px 25px 0 rgba(54, 95, 104, 0.1);
          transform: translate(6px, -6px) scale(1.02);
          cursor: pointer;
        }

        &-link {
          position: absolute;
          inset: 0;
          z-index: 5;
        }

        &-image {
          display: flex;
          justify-content: flex-end;
          aspect-ratio: 1/1;
          border-radius: 8px;
          background: $Line;
          overflow: hidden;
          width: 68px;
          height: 68px;

          img {
            width: 100%;
            height: 100%;
            flex-shrink: 0;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
          position: relative;
          z-index: 10;
          &:hover {
            a {
              border-bottom: 1px solid $Text-Primary;
              color: $Text-Primary;
              cursor: pointer;
            }
          }

          h6 {
            color: $Text-Primary;
          }

          a {
            border-bottom: 1px solid transparent;
            color: $Text-Muted;
            transition: all 0.2s ease;
          }

          @include respond(mobile) {
            align-items: center;
          }
        }

        @include respond(mobile) {
          padding: 20px 12px 16px 12px;
          flex-direction: column;
          gap: 12px;
          flex-shrink: 0;
          width: 165px;
        }
      }
    }
  }
}

// PARTNERS
.partner-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include respond(mobile) {
    gap: 20px;
  }

  .partners {
    width: 100%;

    .partner-logo {
      width: 204px;
      height: 41px;
      flex-shrink: 0;

      @include respond(mobile) {
        width: 115px;
        height: 28px;
        aspect-ratio: 115/28;
      }
    }
  }
}
