@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

.feature-image {
  width: 100%;
  height: 80vh;
}

.details-container {
  max-width: 1290px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include respond(mobile) {
    max-width: 350px;
    margin: 40px auto;
    gap: 28px;
  }

  .heading-4 {
    color: $Text-Primary;

    @include respond(mobile) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .body-2 {
    @include respond(mobile) {
      text-align: start;
    }
  }

  // TITLE
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;

    .location {
      display: flex;
      align-items: center;
      gap: 4px;
      align-self: stretch;

      @include respond(mobile) {
        display: none;
      }
    }
  }

  // DESC & OVERVIEW
  .desc-overview {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;

    @include respond(mobile) {
      flex-direction: column;
      gap: 28px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;
      flex: 1 0 0;

      @include respond(mobile) {
        gap: 28px;
      }

      .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        @include respond(mobile) {
          gap: 12px;
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        @include respond(mobile) {
          gap: 12px;
        }
      }
    }

    .details {
      display: flex;
      width: 360px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      @include respond(mobile) {
        gap: 12px;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        @include respond(mobile) {
          gap: 12px;
        }

        .region {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          align-self: stretch;
        }

        .coordinate {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          align-self: stretch;
        }

        .amen-equip {
          display: flex;
          align-items: flex-start;
          gap: 20px;
          align-self: stretch;

          @include respond(mobile) {
            flex-direction: column;
            gap: 12px;
          }

          .amenities-count,
          .equipment {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex: 1 0 0;
          }
        }
      }
    }
  }

  // AMENITIES
  .amenities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @include respond(mobile) {
      gap: 12px;
    }

    .amenities-list {
      display: flex;
      align-items: flex-start;
      gap: 80px;
      align-self: stretch;
      list-style: none;

      @include respond(mobile) {
        flex-direction: column;
        gap: 12px;
      }

      .amenity-item {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  // GALLERY IMAGES
  .gallery-inner {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include respond(mobile) {
      gap: 20px;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 300px;
      gap: 20px;

      @include respond(mobile) {
        display: flex;
        gap: 16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      .gallery-item {
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 10px 25px 0 rgba(54, 95, 104, 0.15);
        }

        &:nth-child(n + 6) {
          display: none;

          @include respond(mobile) {
            display: block;
          }
        }

        @include respond(mobile) {
          flex: 0 0 88%;
          height: 260px;
          scroll-snap-align: center;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }

        &.is-hidden {
          display: none;
        }
      }

      .gallery-item--large {
        grid-column: span 2;
        grid-row: span 2;
      }

      .gallery-view-all {
        position: absolute;
        left: 16px;
        bottom: 16px;
        display: inline-flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: $Text-Light;
        border-radius: 8px;
        background: $Primary;

        img {
          width: 24px;
          height: 24px;
        }

        @include respond(mobile) {
          display: none;
        }
      }
    }

    .gallery-dots {
      display: none;

      @include respond(mobile) {
        display: flex;
        align-items: center;
        margin-top: 14px;
        list-style: none;
        padding: 0;
      }

      li {
        width: 20px;
        height: 20px;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 1px;
          height: 1px;
          padding: 5px;
          border-radius: 6px;
          border: 1px solid #140f50;
          background: transparent;
          cursor: pointer;
        }

        &.slick-active {
          border-radius: 20px;
          border: 1px solid #140f50;

          button {
            background: #140f50;
          }
        }
      }
    }
  }

  // EQUIPMENT LIST
  .brand-main-location-cpt {
    .brand-inner {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include respond(mobile) {
        gap: 12px;
      }

      .brands {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        flex-wrap: wrap;

        .brand {
          display: flex;
          width: 242px;
          padding: 12px;
          align-items: center;
          gap: 16px;
          border-radius: 12px;
          background: $Light-Grey;
          transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          position: relative;
          &:hover {
            box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
            transform: scale(1.02);
            cursor: pointer;
          }

          &-link {
            position: absolute;
            inset: 0;
            z-index: 5;
          }

          &-image {
            display: flex;
            justify-content: flex-end;
            aspect-ratio: 1/1;
            border-radius: 8px;
            background: $Line;
            overflow: hidden;
            width: 68px;
            height: 68px;

            img {
              width: 100%;
              height: 100%;
              flex-shrink: 0;
            }
          }

          .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            position: relative;
            z-index: 10;
            &:hover {
              a {
                border-bottom: 1px solid $Text-Primary;
                color: $Text-Primary;
                cursor: pointer;
              }
            }

            h6 {
              color: $Text-Primary;
            }

            a {
              border-bottom: 1px solid transparent;
              color: $Text-Muted;
              transition: all 0.2s ease;
            }

            @include respond(mobile) {
              align-items: center;
            }
          }

          @include respond(mobile) {
            padding: 20px 12px 16px 12px;
            flex-direction: column;
            gap: 12px;
            flex-shrink: 0;
            width: 165px;
          }
        }
      }
    }
  }
}
